OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
OPENROUTER_MODEL_GUARD=
OPENROUTER_MODEL_ANSWER=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=
ALLOWED_PHONE=
ALLOWED_LID=
ALLOWED_GROUP_ID=
SUPABASE_URL=
SUPABASE_KEY=
WEBHOOK_SECRET=
ADMIN_TOKEN=
EXPOSE_DOCS=
HISTORY_WINDOW=
GUARD_WINDOW=
SUMMARY_EVERY=
HISTORY_MAX_CHARS=
STUCK_AFTER_MINUTES=
